@font-face {
    font-family: 'StratosRegular';
    src: url('./fonts/stratosskyengweb-regular.woff2') format('woff2'),
        url('./fonts/stratosskyengweb-regular.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
}
